@use "theme";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: {
    block: 2rlh;
    inline: auto;
  }
  padding: 0;
}

nav,
footer,
header {
  margin: {
    block: 2rlh;
    inline: 0;
  }
}

h2,
blockquote,
pre,
table,
ul,
ol {
  margin: {
    block: 1rlh;
    inline: 0;
  }
}

h1,
p,
hr {
  margin: 0;
}

ul,
th,
td {
  padding: 0;
}

body {
  width: calc(100% - 8ch);
  max-width: 64ch;

  background-color: var(--base00);
  color: var(--base05);

  font-family: "IBM Plex Mono";
}

nav,
footer {
  display: flex;
  justify-content: space-between;

  color: var(--base04);
  font-size: 0.8rem;

  span:not(:last-child)::after {
    content: " - ";
  }
}

h1 {
  font: {
    size: 1.6rem;
    weight: 600;
  }
}

h2 {
  font: {
    size: 1.2rem;
    weight: 600;
  }
}

.subtitle {
  color: var(--base04);

  span:not(:last-child)::after {
    content: " - ";
  }
}

ul {
  list-style: none;
}

li::before {
  content: "> ";
}

table {
  border-spacing: 0;
}

th {
  font-weight: 600;
}

th,
td {
  position: relative;
  vertical-align: top;
  padding-inline-start: 3ch;

  &:first-child {
    padding-inline-start: 2ch;
  }

  &:last-child {
    padding-inline-end: 2ch;
  }

  &::before {
    content: "|";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 1ch;
    color: var(--base04);
  }

  &:first-child::before {
    inset-inline-start: 0;
  }

  &:last-child::after {
    content: "|";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    color: var(--base04);
  }
}

td[data-progress="done"] {
  color: var(--base0E);
}

td[data-progress="queued"] {
  color: var(--base04);
}

code {
  font-family: "IBM Plex Mono";

  &[data-name]::before {
    content: attr(data-name);
    float: right;
  }
}

.giallo {
  background-color: var(--base01) !important;

  &-ln::after {
    content: " ";
  }
}

a {
  color: var(--base0D);
  text-decoration: none;

  &[rel~="external"] {
    color: var(--base0C);
  }

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: none;

  color: var(--base04);

  &::after {
    content: "----------------------------------------------------------------";
  }
}
