@use "theme";

* {
  box-sizing: border-box;
}

body {
  max-width: 80ch;
  margin: 4rem auto;
  padding: 0 8ch;

  background-color: var(--base00);
  color: var(--base05);

  font-family: "IBM Plex Mono";
  line-height: 1.6;
}

nav,
footer {
  display: flex;
  justify-content: space-between;

  margin: 4rem 0;

  color: var(--base04);
  font-size: 0.8rem;

  span:not(:last-child)::after {
    content: " - ";
  }
}

header {
  margin: 4rem 0;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  margin: 2rem 0 0;
  font-size: inherit;
  font-weight: 600;
}

.subtitle {
  color: var(--base04);

  span:not(:last-child)::after {
    content: " - ";
  }
}

p {
  margin: 0;
}

blockquote {
  margin: 2rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li::before {
  content: "> ";
}

pre {
  margin: 2rem 0;
}

code {
  font-family: "IBM Plex Mono";
}

code[data-name]::before {
  content: attr(data-name);
  float: right;
}

.giallo {
  background-color: var(--base01) !important;
}

.giallo-ln::after {
  content: " ";
}

a {
  color: var(--base0D);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  margin: 0;
  border: none;

  color: var(--base04);

  &::after {
    content: "----------------------------------------------------------------";
  }
}
