@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM Plex Mono Var-Roman.woff2") format("woff2");
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM Plex Mono Var-Italic.woff2") format("woff2");
  font-weight: 100 700;
  font-style: italic;
  font-display: block;
}

$light: (
  base00: #eff1f5,
  base05: #4c4f69,
  base04: #acb0be,
  base0D: #1e66f5
);

$dark: (
  base00: #1e1e2e,
  base05: #cdd6f4,
  base04: #585b70,
  base0D: #89b4fa
);

:root {
  color-scheme: light dark;

  @each $name, $value in $light {
    --#{$name}: #{$value};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $value in $dark {
      --#{$name}: #{$value};
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  max-width: 80ch;
  margin: 4rem auto;
  padding: 0 8ch;

  background: var(--base00);
  color: var(--base05);

  font-family: "IBM Plex Mono";
  line-height: 1.6;
}

header {
  margin: 4rem 0;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

p {
  margin: 0;
}

.subtitle {
  color: var(--base04);

  span:not(:last-child)::after {
    content: " - ";
  }
}

h2 {
  margin: 2rem 0 0;
  font-size: inherit;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li::before {
  content: "> ";
}

a {
  color: var(--base0D);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer {
  display: flex;
  justify-content: space-between;

  margin: 4rem 0;

  color: var(--base04);
  font-size: 0.8rem;

  span:not(:last-child)::after {
    content: " - ";
  }
}

hr {
  margin: 0;
  border: none;

  color: var(--base04);

  &::after {
    content: "----------------------------------------------------------------";
  }
}
