{% macro input(title, subtitle="", content, updated="") %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    {% if current_path is defined %}
      {% if current_path is starting_with("/desk/") %}
        <link rel="manifest" href="/desk/manifest.webmanifest">
      {% endif %}
    {% endif %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('a[href]').forEach(a => {
          if (a.protocol !== "javascript:" && a.hostname !== location.hostname) {
            a.target = "_blank";
            a.rel = "noreferrer";
          }
        });
      });
    </script>
  </head>
  <body>
    <header>
      <nav>
        <span>
          <a href="javascript:history.back()">back</a>
        </span>
        <span>
          <a href="javascript:history.forward()">forward</a>
        </span>
        <span>
          <a href="..">parent</a>
        </span>
      </nav>
      <h1>{{ title }}</h1>
      {% if subtitle %}
      <p class="subtitle">
        {% for value in subtitle %}
        <span>{{ value | safe }}</span>
        {% endfor %}
      </p>
      {% endif %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <div>
        <span>
          <a href="mailto:kwwuintl23@outlook.com">email</a>
        </span>
        <span>
          <a href="https://github.com/kwwuintl">github</a>
        </span>
      </div>
      <div>
        {% if updated %}
        <span>updated: {{ updated }}</span>
        {% endif %}
        <span>&copy; 2026 kong wing wu</span>
        <span>all rights reserved</span>
      </div>
    </footer>
  </body>
</html>
{% endmacro %}
