<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ section.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  </head>
  <body>
    <header>
      <h1>{{ section.title }}</h1>
      <p class="subtitle">
        {% for item in section.extra.subtitle %}
        <span>{{ item }}</span>
        {% endfor %}
      </p>
    </header>
    <main>
      {{ section.content | safe }}
    </main>
    <footer>
      <div>
        <span>
          <a href="mailto:kwwuintl23@outlook.com">email</a>
        </span>
        <span>
          <a href="https://github.com/kwwuintl">github</a>
        </span>
      </div>
      <div>
        <span>last updated: {{ section.extra.updated }}</span>
        <span>2026 Kong Wing Wu</span>
      </div>
    </footer>
  </body>
</html>
